---
layout: default
---
{% if rootpath == nil %}
{% include path.liquid %}
{% endif %}

<div class="group-home">
  <div class="group-head">
    <h1>一覧</h1>
    <div class="group-contents">
      <ul class="posts">
	{% for post in site.posts %}
	<li>
	  <a class="post-link"
	     href="{{ rootpath | append: post.url | prepend: site.baseurl }}">
	    {{ post.title }}</a>
	  <span class="post-date">
	    {{ post.date | date: "%b %-d, %Y" }}</span>
	</li>
	{% endfor %}
      </ul>
    </div>
  </div>
</div>
