---
layout: default
encoding: UTF-8
lang: 言語
# タグから表示名を得るためのデータ
# リストを配列にし、名前をハッシュで持つ
Language: [ all, sh, ruby, go ]
LanguageNames: { all: 共通, sh: シェルスクリプト, ruby: Ruby, go: GO }
Themes: [ install, helloworld, sequence, selection, iteration ]
ThemesName: { install: インストール, helloworld: ハローワールド, sequence: 順接, selection: 分岐, iteration: 反復 }
---
<div class="home">
  <h1>一覧</h1>

  {% comment %}
  言語、テーマでジャンプマトリックスを作る
  {% endcomment %}
  <table>
    {% comment %}横見出し：言語{% endcomment %}
    <tr>
      <th>テーマ／言語</th>
      {% for lang in page.Language %}
      <th>{{ page.LanguageNames[lang] }}</th>
      {% endfor %}
    </tr>
    {% comment %}縦見出し：テーマ{% endcomment %}
    {% for theme in page.Themes %}
    <tr>
      <th>{{ page.ThemesName[theme] }}</th>
      {% for lang in page.Language %}
      <td>
	{% assign foundp = false %}
	{% for post in site.posts %}
	{% if lang == post.categories.first and theme == post.tags.first %}
	{% assign foundp = true %}
	{% assign url = post.url %}
	{% break %}
	{% endif %}
	{% endfor %}
	{% if foundp %}
	<a href="{{ url | prepend: site.baseurl }}">○</a>
	{% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
